@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

:root{
    /*    Colors!     */
    --primary: #3A5A40;     
    --secondary: #588157;
    --tertiary: #A3B18A;
    --accent: #ED7D3A;      /*    Orange, "Mango Tango"     */
    --error: #EF2D56;     /*    Red, "Red Crayola"     */    
    --dark: #363537;        /*    "Jet"     */
    --largebg: #DAD7CD;     /*    Beige     */
    
    /*    Text!     */
    --headings: 'Noto Serif', serif;
    --headings2: 'Montserrat', sans-serif;
    --body-text: 'Source Sans Pro', sans-serif;   
    --special: 'Satisfy', cursive; 
}

/* Styling for elements applicable to all pages. */
* {
    box-sizing: border-box;
}

html, body {    
    height: 100%;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
}

header, footer {
    flex: 0 1 auto;
    width: 100%;
    height: 10%;
    min-height: 10%;
    padding: 0 2rem 0;
    background-color: var(--primary);    
    color: #FFFFFF;
    position: sticky;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
    top: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--headings2);
    font-weight: bold;
    bottom: 0;
}

footer p {
    padding: 0 3rem;
}

header #site-logo {
    height: 80px;
}

header #user-logo {
    height: 50px;
}

main {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--largebg);
}

a:hover {
    cursor: pointer;
}

.emphasized {
    color: var(--secondary);
    font-weight: bold;
}
/* ----------          END       ---------- */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.profile-holder {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-around;
    font-family: var(--headings2);
    font-weight: bold;
}

.header-button {
    margin: 0 2em;
    border-style: solid;
    border-color: var(--secondary);
    border-radius: 35px;
    color: #FFFFFF;
    height: 40px;
    width: 100px;
    background-color: var(--tertiary);
    font-family: var(--headings2);    
    font-size: 1rem;
    text-transform: capitalize; 
}

.header-button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 8px var(--tertiary);
}


