@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

:root{
    /*    Colors!     */
    --primary: #3A5A40;     
    --secondary: #588157;
    --tertiary: #A3B18A;
    --accent: #ED7D3A;      /*    Orange, "Mango Tango"     */
    --error: #EF2D56;     /*    Red, "Red Crayola"     */    
    --dark: #363537;        /*    "Jet"     */
    --largebg: #DAD7CD;     /*    Beige     */
    
    /*    Text!     */
    --headings: 'Noto Serif', serif;
    --headings2: 'Montserrat', sans-serif;
    --body-text: 'Source Sans Pro', sans-serif;   
    --special: 'Satisfy', cursive; 
}

/* Styling for elements applicable to all pages. */
* {
    box-sizing: border-box;
}

html, body {    
    height: 100%;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
}

header, footer {
    flex: 0 1 auto;
    width: 100%;
    height: 10%;
    min-height: 10%;
    padding: 0 2rem 0;
    background-color: var(--primary);    
    color: #FFFFFF;
    position: sticky;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
    top: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--headings2);
    font-weight: bold;
    bottom: 0;
}

footer p {
    padding: 0 3rem;
}

header #site-logo {
    height: 80px;
}

header #user-logo {
    height: 50px;
}

main {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--largebg);
}

a:hover {
    cursor: pointer;
}

.emphasized {
    color: var(--secondary);
    font-weight: bold;
}
/* ----------          END       ---------- */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.profile-holder {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-around;
    font-family: var(--headings2);
    font-weight: bold;
}

.header-button {
    margin: 0 2em;
    border-style: solid;
    border-color: var(--secondary);
    border-radius: 35px;
    color: #FFFFFF;
    height: 40px;
    width: 100px;
    background-color: var(--tertiary);
    font-family: var(--headings2);    
    font-size: 1rem;
    text-transform: capitalize; 
}

.header-button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 8px var(--tertiary);
}

.side-wrapper {
    height: 100%;
    width: 100%;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
}

.left-side, .right-side {
    border: 2px solid var(--primary);
    border-radius: 15px;
}

.left-side {    
    width: 80%;    
    border-color: var(--secondary);
    box-shadow: 0px 0px 8px var(--primary);
    margin: 0 3%;
    justify-content: center;
    align-items: center;
}

.right-side {    
    box-shadow: 0px 0px 8px var(--tertiary);
    width: 20%;
    margin-right: 3%;
}

.left-side h1, .right-side h1 {
    text-align: center;
    font-size: 24pt;
    color: var(--secondary);
    text-shadow: 2px 2px 3px var(--tertiary);
    font-family: var(--special);
}

.line-break {
    border-width: 3px;
    width: 80%;
    color: var(--secondary);
    border-style: solid none none;
    margin: 0 auto 2em;
}

.stock-holder {    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3%;
}

.shop-item {
    border: 1px solid black;
    display: flex;    
    flex-direction: column;
    width: 20%;
    max-width: 20%;
    margin: 1em 0;
    background-color: var(--tertiary);
    border-radius: 15px;
}

.shop-item img {
    height: 200px;
    width: 200px;
    max-width: 90%;
    object-fit: cover;
    border-radius: 10px;
    margin: 1em auto 0;
}

.shop-item h3 {    
    font-family: var(--headings2);
    color: #FFFFFF;
    text-align: center;
    text-shadow: .5px .5px 3px var(--secondary);
}

.shop-item p {
    font-family: var(--body-text);
    font-weight: bold;
    color: var(--dark);    
    text-align: center;
    font-size: 16pt;
}

.special-button {    
    border-style: solid;
    border-color: var(--primary);
    border-radius: 30px;
    height: 70px;
    width: 90%;
    color: #FFFFFF;    
    font-family: var(--headings2);
    font-size: 1.2rem;
    font-weight: bold;
    border-color: var(--primary);
    background-color: var(--tertiary);
    display: block;
    margin: 1em auto 0;
}

.special-button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 8px var(--primary);
}